.search-box {
  position: relative;
  height: 60px;
  width: 60px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
  width: 300px;
}

.search-box input {
  height: 70%;
  width: 70%;
  outline: none;
  border: none;
  background: #fff;
  font-size: 18px;
  border-radius: 50px;
  padding: 0 60px 0 20px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 0px;
}
.search-box input.active {
  opacity: 1;
}

.search-box .search-btn {
  position: absolute;
  top: 66%;
  right: 0px;
  height: 42px;
  width: 43px;
  color: rgb(228, 222, 222);
  transform: translateY(-50%);
  line-height: 45px;
  text-align: center;
  font-size: 23px;
  border-radius: 150px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: -17px;
}
.search-box .search-btn.active {
  right: 97px;
  height: 40px;
  width: 40px;
  color: rgb(131, 73, 2);
  line-height: 42px;
  font-size: 20px;
  transform: translateY(-50%) rotate(360deg);
  margin-top: -17px;
}

.search-box .cancel-btn {
  position: absolute;
  top: 38%;
  right: 18px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
}

.search-box .cancel-btn.active {
  right: 63px;
  transform: translateY(-50%) rotate(360deg);
  opacity: 1;
}
